.unit-container {
	
}
.unit-list {
	display:inline-block;
	list-style-type:none;
	margin:0;
	padding:0;
}
	.unit-list > li {
		display:inline-block;
	}

#breakdown_container {
	list-style-type:none;
	margin:0;
	padding:0;
}
	#breakdown_container > li {
		display:inline-block;
		white-space:pre;
	}
	#breakdown_container .hit-term {
		position:relative;
		display:inline-block;
		color:#F00;
	}
		#breakdown_container .hit-term .hit-tooltip {
			position:absolute;
			width:9em;
		}
		.hit-tooltip ul {
			list-style-type:none;
			margin:0;
			padding:0;
		}
	.breakdown .missed-term {
		
	}